.App {
  text-align: left;
}
.site-layout-background {
  background: #fff;
}
.site-description-item-profile-wrapper {
  color: rgba(0, 0, 0, 0.65);
}
.site-description-item-profile-p {
  color: rgba(0, 0, 0, 0.85);
}
.msgHover:hover {
  color: #722ed1;
}

.cursor:hover {
  cursor: pointer;
}

.bubbleYou {
  position: relative;
  background-color: #22075e;
  display: inline-block;
  font-size: 0.9em;
  color: white;
  max-width: 70%;
  margin-bottom: 1em;
  margin-left: 0.7em;
  border-radius: 7px;
  padding: 0.7em;
  float: left;
  clear: both;
}
.bubbleYou:after {
  content: "";
  border: 5px solid transparent;
  border-right-color: #22075e;
  border-left: 0;
  position: absolute;
  left: -4.5px;
  top: 10px;
}

.bubbleMe {
  position: relative;
  background-color: white;
  display: inline-block;
  font-size: 0.9em;
  color: #22075e;
  max-width: 70%;
  margin-bottom: 1em;
  margin-right: 0.7em;
  border-radius: 7px;
  padding: 0.7em;
  float: right;
  clear: both;
}

.bubbleMe:after {
  content: "";
  border: 5px solid transparent;
  border-left-color: white;
  border-right: 0;
  position: absolute;
  right: -4.5px;
  top: 10px;
}

.sendIcon {
  margin-left: 0.5em;
  color: #bfbfbf;
  border-radius: 50%;
}

.sendIcon:hover {
  color: #722ed1;
  cursor: pointer;
}

.chatlistdiv {
  height: 50px;
  border-bottom: 1px solid #391085;
  display: flex;
  align-items: center;
}
.activeChat {
  background-color: #120338;
}
.chatlistdiv:hover {
  background-color: #120338;
}
.typingDiv {
  display: flex;
  align-items: center;
  min-height: 35px;
}
.typing {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-right: 1px;
  margin-left: 1px;
}

.one {
  background-color: #d3adf7;
  animation-name: typingAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-out;
}

.two {
  background-color: #9254de;
  animation-name: typingAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  transition-timing-function: ease-out;
}

.three {
  background-color: #531dab;
  animation-name: typingAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  transition-timing-function: ease-out;
}

@keyframes typingAni {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
