.App {
  text-align: left;
}
.site-layout-background {
  background: #fff;
}
.site-description-item-profile-wrapper {
  color: rgba(0, 0, 0, 0.65);
}
.site-description-item-profile-p {
  color: rgba(0, 0, 0, 0.85);
}
.msgHover:hover {
  color: #722ed1;
}

.mypageInput {
  border: none;
  width: 250px;
  border-bottom: 1px solid #d9d9d9;
}

.mypageInput:hover {
  border-bottom: 1px solid #722ed1;
}

.mypageInput:focus {
  border-bottom: 1px solid #722ed1;
}
